<h1> Hello Squirrel </h1>


<form action='/login' method="POST">

  email: <input type="text" name="email">
  password: <input type="password" name="password">
  <input type="submit"  value ="login">

</form>


<form action='/signup' method="POST">
  name: <input type="text" name="name">
  email: <input type="text" name="email">
  password: <input type="password" name="password">
  <input type="submit"  value ="signup">
</form>